
.CreateTodoButton{
    display: inline-flex;
    justify-content: center;

    padding: 10px 30px;
    margin: 20px 0;
    border: none;
    border-radius: 1rem;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight:700;
    color: rgb(241, 248, 232);

    background-color: rgb(85, 173, 155);
    box-shadow: 0px 2px 5px rgba(45, 85, 77,0.3);

    cursor: pointer;

    transition: .2s ease;
}
.CreateTodoButton:hover{
    color: rgb(216, 239, 211);
    background-color:rgb(69, 141, 127);;

    transform: scale(1.03);
}
.CreateTodoMenu{
    position: absolute;
    z-index: 1000;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(85, 173, 155,0.2);
}
.CreateMenu{
    width: 60svw;

    border: none;
    border-radius: 1.25rem;

    padding: 20px 10px;

    background-color: rgb(241, 248, 232);
}
.CreateMenuHeader{
    /* width: 90%; */
    margin: 20px 20px 20px 45px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CreateMenuHeader h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(85, 173, 155);
    font-size: 1.75rem;
    font-weight: 900;
    
    margin: 0;

    cursor: default;
}
.CreateMenuExit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2.5rem;
    color:rgb(85, 173, 155);
    min-height: 5px;

    background-color: transparent;
    filter: drop-shadow(0px 2px 3px rgba(45, 85, 77,0.4));
    border: none;
    border-radius: 100%;

    cursor: pointer;

    transition: .1s ease-in-out;
}
.CreateMenuExit:hover{
    transform: scale(1.04);

    color:rgb(69, 141, 127);
}
.TodoForm{
    display: flex;
    flex-direction: column;
    margin: 30px 45px 20px 45px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    color:rgb(85, 173, 155);
}
.TodoForm label{
    margin: 10px 0px;
}
.TodoForm input{
    border: none;
    border-bottom: solid 2px rgb(69, 141, 127);
    background-color: transparent;

    font-family: inherit;
    font-size: 1.25rem;

    padding: 5px 20px;
    max-width: 200px;
}
.TodoForm input:focus{
    outline: none;
}
.TodoForm textarea{
    border: none;
    border-bottom: solid 2px rgb(69, 141, 127);
    background-color: transparent;

    padding: 5px 20px;

    font-family: inherit;
    font-size: 1.25rem;
    max-height: 60px;
    resize: none;
}
.TodoForm textarea:focus{
    outline: none;
}

@media (max-width: 1000px){
    .CreateTodoButton{
        font-size: 1.5rem;
    }
    .CreateMenu{
        width: 80svw;
    }
    .TodoForm{
        font-size: 1rem;
    }
    .CreateMenuHeader h1{
        font-size:1.5rem;
    }
    .CreateMenuExit{
        font-size: 2rem;
    }
    .TodoForm input{
        font-size: 0.75rem;
    }
    .TodoForm textarea{
        font-size: 0.75rem;
    }
}
