
.EmptyList{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    color: #55AD9B;
}
.List{
    display: flex;
    width: 90%;
    
    justify-content: center;
    flex-direction: column;
}
.ListItem{
    width: calc(100% - 40px);
    text-align: left;
    padding: 10px 20px;
    margin: 10px 0px;

    border-radius: 0.75rem;

    background-color: #55ad9b;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(241, 248, 232);

    transition: .2s ease-in;
}
.ListItem:hover{
    scale: 1.05;
}
.ListItem input{
    font-size: 1.4rem;
    cursor: default;
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    margin: 10px 0;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(241, 248, 232);
    outline: none;
}
.ListItem input:disabled{
    font-size: 1.4rem;
    cursor: default;
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    margin: 10px 0;

    background-color: transparent;
    border: none;
}
.ListItem textarea{
    font-size: 1.2rem;
    cursor: default;
    color: inherit;
    font-family: inherit;
    overflow: hidden;
    resize: none;
    width: 80%;
    padding-bottom: 0;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(241, 248, 232);
    outline: none;
}
.ListItem textarea:disabled{
    font-size: 1.2rem;
    cursor: default;
    color: inherit;
    font-family: inherit;
    overflow: hidden;
    resize: none;
    width: 80%;

    background-color: transparent;
    border: none;
}

.ListItemHeader{
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.UpdateButton{
    position: relative;
    font-size: 1.25rem;
    top: 13px;
    right: 25px;
    color: inherit;

    background-color: transparent;
    border: none;
    border-radius: 100%;

    cursor: pointer;

    transition: .2s ease-in;    

    outline: none;
}
.UpdateButton:hover{
    scale: 1.1;

    color:rgb(132, 241, 200);
}
.DeleteButton{
    position: relative;
    font-size: 1.5rem;
    top: 15px;
    right: 10px;

    cursor: pointer;

    transition: .2s ease-in;
}
.DeleteButton:hover{
    transform: scale(1.1);

    color: #EE4E4E;
}